<div id="<%= dom_id game %>" class="card">
  <div class="card-content">
    <p class="title"></p>
    <p class="subtitle"></p>
    <p class="subtitle is-size-6"></p>
  </div>
  <footer class="card-footer">
    <% if game.player2_accepted %>
      <%= button_to "Play Game", game_path(game), class: "card-footer-item button is-info", method: :get %>
    <% else %>
      <%= button_to "Accept Game", game_path(game), class: "card-footer-item button is-info", method: :patch%>
    <% end %>
    <p class="card-footer-item">
      <span>Opponent: (#TD: Dynamically generate this)</span>
    </p>
  </footer>
</div>
