<section class="section">
  <div class="columns is-centered">
    <div class="column is-four-fifths">
      <h1 class="title">Ongoing Games <%= button_to "Create New Game", new_game_path, method: "get", class: "button is-primary", form: {style: 'display:inline-block;'} %></h1>
      <div class="games">
        <div class="grid-container">
          <% @games.each do |game| %> <!-- TD: Make this dynamically get current games -->
            <span><%= render game %></span>
          <% end %>
        </div>
      </div>
      <hr>
      <h2 class="subtitle">Finished Games</h2>
      <div class="games">
        <div class="grid-container">
          <% @games.each do |game| %> <!-- TD: Make this dynamically get past games -->
            <span><%= render game %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>