<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <%= link_to root_path, class: "is-secondary is-size-7" do %>
          <b>Back to Your Games</b>
        <% end%>
        <%= render "form", game: @game %>
      </div>
    </div>
  </div>
</section>