<section class="section">
  <div class="container">
    <div class="columns is-centered is-vcentered">
      <div class="column is-two-thirds">
        <h1 class="title">Question: <%= @question.text %></h1>
        <div class="box has-background-triviablue">
          <div class="columns is-centered">
            <div class="column is-two-thirds is-centered">
              <h2 class="subtitle">Answers:</h2>
              <div class="box has-background-purple">
                <p><b>A)</b> Option A</p>
              </div>
              <div class="box has-background-purple">
                <p><b>A)</b> Option B</p>
              </div>
              <div class="box has-background-purple">
                <p><b>A)</b> Option C</p>
              </div>
              <div class="box has-background-purple">
                <p><b>A)</b> You get the point</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
