<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <div class="columns is-vcentered">
          <div class="column is-3 has-background-primary">
            <%= image_tag('TrivAI_logo_RD.png', width: "100%") %>
        </div>
        <div class="column is-half has-background-danger has-text-centered">
            <h1 class="is-size-1">TrivAI</p>
        </div>
        <div class="column">
          <div class='button is_primary'>
            <p> Insert logo </p>
          </div>
          <div class='button is_primary'>
            <p> Insert logo </p>
          </div>
        </div>
    </div>
    
    <%= yield %>
  </body>
</html>